@import url("theme.css");

div.highlight-xml {
	max-height: 350px;
}

i.toprightsmall {
	position: absolute;
	top: 1px;
	right: 1px;
	font-size: 8px;
	color: #999;
}

i.icon-spacer {
	margin-right: 5px;
}

p.button-wrapper {
	margin-top: 35px;
	margin-bottom: 35px;
}

span.button {
	position: relative;
	border: 1px solid #eee;
	background-color: #f5f5f5;
	padding: 9px;
	color: #333;
	font-size: 14px;
	box-shadow: 2px 2px 5px #bbb;
}